.Acontainer.close{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    border-radius: 4px;
    padding-left: 8px;
}

.Acontainer.open{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border-radius: 4px;
    padding-left: 8px;
    background-color: #607394;
    height: 100px;
}

.Acontainer.close:hover {
    background-color: #607394;
    transition: all 0.3s ease-in-out;
}

.Aprofle-content {
    display: flex;
    flex-direction: row;
}

.Aprofile-personal-button {
    border: none;
    border-radius: 2px;
    margin-top: 16px;
    margin-right: 4px;
    height: 30px;
    width: 160px;
    color: #ffffff;
    background-color: #202833;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.profile-user-role-cli {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 12px;
    margin-left: 18px;
    margin-right: 18px;
}

.profile-button-cli {
    width: 52px;
    height: 54px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.profile-button-cli:hover {
    background-color: #607394;
    transition: all 0.3s ease-in-out;
}

.profile-user-cli {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    color: #ffffff;
}

.profile-role-cli {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
    margin: 0px;
    color: #ffffff;
}

.profile-mini-text-cli {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-top: 15.5px;
}

.profile-mini-cli {
    width: 32px;
    height: 32px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 11px;
}