.nav-link-wrapper {
    text-decoration: none;
    display: inline-block;
}

.navigation-cli {
    width: 100%;
    height: 54px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 16px 0px 0px 16px;
}

.logo-cli {
    height: 32px;
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    margin-left: 10px;
}

.profile-cli {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 12px;
}

.menu-button-cli {
    background-color: transparent;
    margin: 0;
    height: 54px;
    width: 54px;
    border: none;
}

.logo-img-cli {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.logo-h1-cli {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: bold;
    margin-top: 6px;
    margin-left: 6px;
}

.menu-button-cli {
    margin-top: 0;
    width: 100%;
    height: 100%;
}

.navigation-buttons-cli {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-button-cli {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    margin-left: 16px;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    border: none;
    padding: 8px;
    background-color: transparent;
    cursor: pointer;
}

.client-content {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 48px;
    padding-top: 48px;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.banner {
    background-image: url('../../assets/svg/banner.jpg.svg');
    width: calc(100% - 48px);
    height: 87vh;
    border-radius: 16px;
}

.content-blok-cli {
    width: 45vw;
    height: 43vh;
    margin-top: 16vh;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-block-buttons-cli {
    display: flex;
    justify-content: start;
    padding-right: 5vw;
}

.main-text-cli {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0px;
    color: #ffffff;
    margin-bottom: 16px;
}

.main-text-desc-cli {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}

.banner-button-cli {
    box-sizing: border-box;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 0px;
}


.banner-button-cli-active {
    background-color: #3296F8;
    border: 2px solid #3296F8;
    box-sizing: border-box;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
    border-radius: 8px;
    margin-right: 24px;
    margin-bottom: 0px;

}

.text-pointer {
    color: #3296F8;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto/Roboto-Black.woff2') format('ttf');
    font-weight: 500;
    font-style: normal;
}