.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 54px;
    display: flex;
    z-index: 300;
    flex-direction: row;
    justify-content: space-between;
    background-color: #112347;
}

.logo {
    height: 32px;
    display: flex;
    flex-direction: row;
    margin-top: 11px;
    margin-left: 10px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.profile-button {
    width: 52px;
    height: 54px;
    background-color: #112347;
    border: none;
}

.profile-button:hover {
    border: #ffffff;
    border-width: 1.5px;
    border-style: solid;
    transition: 0.3s ease-in-out;
}

.menu-button {
    background-color: #112347;
    margin: 0;
    height: 54px;
    width: 54px;
    border: none;
}

.menu-button:hover {
    background-color: #40516E;
    border: none;
}

.logo-img {
    height: 32px;
    width: 32px;
    margin-left: 16px;
}

.logo-h1 {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: bold;
    margin-top: 6px;
    margin-left: 6px;
}

.menu-button {
    margin-top: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto/Roboto-Black.woff2') format('ttf');
    font-weight: 900;
    font-style: normal;
}