.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu {
    width: 442px;
    background: white;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.modal-header {
    width: 100%;
    height: 45px;
    padding-top: 0px;
    background-color: #112347;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-button {
    width: 100%;
    height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.toolBar {
    width: 100%;
    background-color: #ffffff;
}

.modal-body {
    box-sizing: border-box;
    width: 100%;
    padding-left: 15px;
    border-top: 2px solid #EBEDF0;
    border-bottom: 2px solid #EBEDF0;
}

.modal-select {
    width: 400px;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.custom-select {
    width: 100%;
    height: 30px;
    padding: 4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: bold;
    font-size: 14px;
    vertical-align: middle;
    color: #999999;
}

.select-lable {
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-top: 6px;
}

.modal-img {
    width: 24px;
    height: 24px;
    background-color: transparent;
}

.modal-title {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: bold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-left: 16px;
    margin-top: 14px;
}

.exit {
    margin-top: 10px;
    margin-right: 16px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: #112347;
}

.custom-button {
    height: 30px;
    margin: 8px;
    background-color: #3296F8;
    border: none;
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
}

.modal-toolbar-button {
    box-sizing: border-box;
    height: 30px;
    padding-right: 8px;
    padding-left: 8px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.modal-toolbar-button:hover {
    box-sizing: border-box;
    color: #112347;
    border-bottom: 2px solid #112347;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 8px;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto/Roboto-Black.woff2') format('ttf');
    font-weight: 900;
    font-style: normal;
}