.CCcustom-scroll {
    /* display: contents !important; */
    margin-top: -96px;
    margin-left: -28px;
}

.car-details-expanded {
    width: 50%;
}

.CCfolded.expanded {
    width: 50%;
}

.CCfolded.folded {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.car-card-screen {
    position: relative;
    width: calc(100vw - 54px);
    height: auto;
    margin-top: 106px;
    padding-left: 54px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.car-card-content.folded {
    width: calc(50vw - 70px);
    height: 43vh;
    margin: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 16px rgba(17, 35, 71, 0.2);
    border-radius: 2px;
}

.car-card-content.expanded {
    width: calc(100vw - 70px);
    height: 80vh;
    margin: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 16px rgba(17, 35, 71, 0.2);
    border-radius: 2px;
}

.add-auto {
    width: calc(50% - 16px);
    height: 43vh;
    margin: 8px;
    background-color: #3296F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 16px rgba(17, 35, 71, 0.2);
    border-radius: 2px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: #ffffff;
}

.car-buttons-model {
    padding-top: 16px;
    padding-left: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 22px;
    margin: 0px;
    color: #333333;
}

.car-buttons.folded {
    width: 50%;
}

.car-buttons.expanded {
    width: 100%;
}

.car-buttons-img.folded {
    width: 100%;
}

.car-buttons-img.expanded {
    width: 80%;
    height: 100%;
    margin-left: 48px;
}

.car-buttons-button-container.folded {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin: 16px;
    margin-top: 44px;
}

.car-buttons-button-container.expanded {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 44px;
    margin-left: 16px;
}

.car-buttons-button {
    background-color: #3296F8;
    border: none;
    border-radius: 2px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #ffffff;
}

.car-buttons-delete.folded {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #3296F8;
    border-radius: 2px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #3296F8;
}

.car-buttons-delete.expanded {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #3296F8;
    border-radius: 2px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #3296F8;
    margin-left: 16px;
}

.car-info {
    width: 50%;
}

.car-info-model.folded {
    padding-top: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 22px;
    margin: 0px;
    color: #333333;
}

.car-info-model.expanded {
    padding-left: 16px;
    padding-top: 20px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 22px;
    margin: 0px;
    color: #333333;
}

.car-info-cards.folded {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.car-info-cards.expanded {
    width: 190%;
    margin-top: 16px;
    margin-left: 12px;
    display: flex;
    flex-direction: row;
}

.card-info-card {
    margin: 4px;
    border: 2px solid #999999;
    border-radius: 2px;
    height: 12vh;
    width: calc(50% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
}

.card-info-label {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 16px;
    margin: 0px;
    color: #333333;
}

.card-info-img {
    width: 24px;
    height: 24px;
}

.card-info-span {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #333333;
}

.CCtable {
    width: 90%;
    height: 22.5vh;
}

.CCexpanded-table-label {
    width: 90%;
    display: flex;
    margin-bottom: 4px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 22px;
    color: #333333;
}

.CCexpanded-info {
    height: 25%;
    width: 90%;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-content: start;
    justify-content: space-between;
    font-family: 'Roboto-regular', sans-serif;
    color: #333333;
}

.CCexpanded-block-info {
    width: 27.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CCexpanded-info-label {
    padding-top: 32px;
    font-size: 22px;
    margin: 0;
}

.CCexpanded-info-details {
    width: 110%;
    font-size: 12px;
    color: #707070;
    margin: 0;
}

.CCexpanded-info-info {
    padding-bottom: 8px;
    font-size: 14px;
    margin: 0;
}

.CCexpanded-prop-buttons {
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto/Roboto-Black.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('./Fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-style: normal;
}