.infinite-scroll-component {
    display: contents !important;
}

.car-card-screen {
    position: relative;
    width: calc(100vw - 54px);
    height: auto;
    margin-top: 106px;
    padding-left: 54px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.car-card-content {
    width: calc(50vw - 70px);
    height: 43vh;
    margin: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 16px rgba(17, 35, 71, 0.2);
    border-radius: 2px;
}

.add-auto {
    width: calc(50% - 16px);
    height: 43vh;
    margin: 8px;
    background-color: #3296F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 16px rgba(17, 35, 71, 0.2);
    border-radius: 2px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 42px;
    font-weight: 400;
    color: #ffffff;
}

.car-buttons-model {
    padding-top: 16px;
    padding-left: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 22px;
    margin: 0px;
    color: #333333;
}

.car-buttons {
    width: 50%;
}

.car-buttons-img {
    width: 100%;
}

.car-buttons-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.car-buttons-button {
    background-color: #3296F8;
    border: none;
    border-radius: 2px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #ffffff;
}

.car-buttons-delete {
    box-sizing: border-box;
    background-color: #ffffff;
    border: 2px solid #3296F8;
    border-radius: 2px;
    padding: 8px;
    padding-right: 16px;
    padding-left: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #3296F8;
}

.car-info {
    width: 50%;
}

.car-info-model {
    padding-top: 16px;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 22px;
    margin: 0px;
    color: #333333;
}

.car-info-cards {
    margin-top: 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-info-card {
    margin: 4px;
    border: 2px solid #999999;
    border-radius: 2px;
    height: 12vh;
    width: calc(50% - 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px;
}

.card-info-label {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 16px;
    margin: 0px;
    color: #333333;
}

.card-info-img {
    width: 24px;
    height: 24px;
}

.card-info-span {
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    margin: 0px;
    color: #333333;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto/Roboto-Black.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('./Fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-style: normal;
}