.buttons{
    transition: all 0.3s ease-in-out;
}
.buttons.folded {
    left: 0;
    top: 54px;
    width: 54px;
    height: 100vh;
    position: fixed;
    background-color: #112347;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 300;
}

.buttons.expanded {
    left: 0;
    top: 52px;
    padding-left: 2px;
    width: 240px;
    height: 100vh;
    position: fixed;
    z-index: 200;
    background-color: #112347;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 300;
}

.navigation-button{
     position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.navigation-button.folded {
    border: none;
    background-color: #112347;
    height: 54px;
    width: 100%;
}

.navigation-button.expanded {
    border: none;
    background-color: #112347;
    height: 54px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.navigation-button:hover {
    background-color: #40516E;
}

.button-img{
    transition: all 0.3s ease-in-out;
}

.button-img.foled {
    height: 20px;
    width: 20px;
}

.button-img.expanded {
    height: 17px;
    width: 17px;
    margin-left: 11px;
    padding-right: 6px;
    
}

.buttons.expanded .button-text {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.1s;
}

.button-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    margin-left: 16px;
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto/Roboto-Black.woff2') format('ttf');
    font-weight: 900;
    font-style: normal;
}
