.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    /* z-index: 1000; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #112347;
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    font-size: 14px;
    margin-top: 10px;
    padding-left: 16px; 
    padding-right: 16px; 
}


@font-face {
    font-family: 'Roboto';
    src: url('./Fonts/Roboto/Roboto-Black.woff2') format('ttf');
    font-weight: 900;
    font-style: normal;
}